.user-info label {
  display: none;
}

.user-info .error-message {
  color: red;
  font-size: 0.8rem;
}

.user-info input {
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  border-bottom: 1px solid black;  width: 100%;
  margin-bottom: 1rem;
}

.user-info .gallery-container {
  margin-top: 1rem;
}

.user-info .gallery {
  display: flex;
  flex-wrap: wrap;
    gap: 10px;
}

.user-info .gallery-image {
  width: 70px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}


select#gender {
  border:unset;
  border-bottom:1px solid black;

}
select{
  padding: 0px !important;
}

.inputRows {
  display: flex;
  align-items: center;
}
