
body {
    background: linear-gradient(180deg, #527190, #eac1f7);
    padding: 0px 20px;

    min-height: 100vh;
    margin: 10px;

}

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
 cursor: pointer;
  transition: all 0.2s ease;
  color: #212121;
  width: 100%;
  background-color: unset;
  text-align: right;
  z-index: 99999 !important;


}
.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover {
  background-color: #0056b3;
}

.layout {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 0px 20px;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}
.layout-container {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}



.footer-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

  .mid1 {
    justify-content: center;
  }
  .mid3 {
    justify-content: flex-end;
    width: 100%;
    
  }
  
.nav.layout-container{
  justify-content: center;
  height: 27vh;


}
.footer.layout-container{
  justify-content: flex-end;
  height: 10vh;

}
.user-info.layout-container{
  height: 44vh;
  justify-content: center;

}